body {
    /* This is to override bootstrap's white background */
    background-color: #212424 !important; 
}

h1 {
    color: rgb(117, 117, 117);
    font-family: 'Roboto Mono', monospace;
}

h2 {
    color: rgb(150, 150, 150);
    font-family: 'Roboto Mono', monospace;
}

a{
    color: #17a2b8;
}

footer, .container--main {
    background-color: #212424;
}

.index--title {
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
    text-align: center;
    padding:0.5em;
}

.index--image {
    max-width: 50%;
    align-self: center;
    margin:16px;
}

.container--main {
    padding: 2%;
}

.container--graphics {
    background-color: #212424;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvas{
    align-self: center;
}

.verticalContainer{
    position: absolute;
    justify-content: center;
    align-self: center;
    flex-direction: row;
}

.launch {
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    justify-content: center;
    align-self: center;
    font-weight: lighter;
}

.blog-post-content, .blog-post-content--border, .container--address {
    color: #FFFFFF;
    font-family: 'Space Mono', monospace;
}

.blog-post-content--border {
    padding: 2%;
}

.instagram {
    border: none,;
    overflow: hidden;
    width: 100%;
    height:17vw;
}

.container--address{
    display: flex;
    flex-direction: column;
}

.container--address-me{
    display: flex;
}

.container--address-text{
    align-items: baseline;
    vertical-align: middle;
}

.headshot{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    padding: 10px;
}

.coop-icon{
    max-width: 70px;
    max-height: 70px;
    padding: 10px;
}

.coop-icons{
    text-align: center;
}

.coop--card{
    margin-bottom: 2%;
}

.coop--card-body{
    background-color: rgb(117, 117, 117);
}

.pdf--resume{
    width: 100%;
    height: 129vw;
}

.slider {
    width: 100vw;
    align-self: center;
}

.container--main--no-border {
    padding: 0;
}

.button--scroll {
    background: rgba(108,117,125,0);
    border: transparent; 
    color: #21252900;
    width: 100vw;
    animation: fadeInOut 10s;
}

.flexContainer {
    display:flex;
    flex-direction: column;
}

@keyframes fadeInOut {
        0% {
        background: rgba(108,117,125,0);
        color: #21252900;
      }
    
      50% {
        background: rgba(108,117,125,0.5);
        color: #212529;
      }

      100% {
        background: rgba(108,117,125,0);
        color: #21252900;
      }
}

.button--scroll:hover, .button--scroll:active {
    background: rgba(108,117,125,0.5);
    border: transparent; 
    color: #212529;
    width: 100vw;
}