:root {
    --main-color: #000000;
    --secondary-color: #e4e4e4;
    --heading-color: #054A91;
    --header-color: #242424;
    --link-color: #3E7CB1;
}
.nav-head {
    background-color: var(--header-color);
}

body {
    /* This is to override bootstrap's white background */
    background-color: var(--secondary-color) !important; 
}

img {
    border-radius: 5px;
}

.centered-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    color: var(--heading-color);
    font-family: 'Arial', monospace;
    font-weight: 600 !important;
}

h2 {
    color: var(--heading-color);
    font-family: 'Arial', monospace;
}

.darkDropdown {
    background-color: var(--header-color) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #444a50 !important;
}

.navbar-dark.navbar-brand {
    color: #FFFFFF !important;
}

.dropdown-menu {
    border-radius: 0.75rem !important;
    
}

a {
    color: var(--link-color) !important;
}

.launch:hover {
    color: hsla(200,90%,50%);
}

footer, .container--main {
    background-color: var(--secondary-color);
}

.index--title {
    color: #000000;
    font-family: 'Arial', monospace;
    justify-content: center;
    text-align: center;
    padding:0.5em;
}

.index--image {
    max-width: 50%;
    align-self: center;
    margin:16px;
}

.container--main {
    padding: 2%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container--graphics {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvas {
    align-self: center;
}

.verticalContainer {
    position: absolute;
    justify-content: center;
    align-self: center;
    flex-direction: row;
}

.launch {
    padding: 15px;
    font-family: 'Arial', monospace;
    font-size: 2em;
    color: var(--main-color) !important;
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
    justify-content: center;
    align-self: center;
    font-weight: lighter;
}

.blog-post-content, .blog-post-content--border, .container--address {
    color: var(--main-color);
    font-family: 'Arial', monospace;
    font-weight: 500;
}

.blog-post-content--border {
    padding: 2%;
}

.instagram {
    border: none,;
    overflow: hidden;
    width: 100%;
    height:17vw;
}

.container--address {
    display: flex;
    flex-direction: column;
    /* background-color: var(--header-color); */
}

.container--address-me {
    display: flex;
    flex-direction: column;
}

.container--address-text {
    align-items: baseline;
    vertical-align: middle;
}

.headshot {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    padding: 10px;
}

.coop-icon {
    max-width: 70px;
    max-height: 70px;
    padding: 10px;
}

.coop-icons {
    text-align: center;
}

.coop--card {
    margin-bottom: 2%;
}

.coop--card-body {
    background-color: rgb(117, 117, 117);
}

.pdf--resume {
    width: 100%;
    height: 129vw;
}

.slider {
    width: 100vw;
    align-self: center;
}

.container--main--no-border {
    padding: 0;
}

.button--scroll {
    background: rgba(108,117,125,0);
    border: transparent; 
    color: #21252900;
    width: 100vw;
    animation: fadeInOut 10s;
}

.flexContainer {
    display:flex;
    flex-direction: column;
}

@keyframes fadeInOut {
      0% {
        background: rgba(108,117,125,0);
        color: #21252900;
      }
    
      50% {
        background: rgba(108,117,125,0.5);
        color: #212529;
      }

      100% {
        background: rgba(108,117,125,0);
        color: #21252900;
      }
}

.button--scroll:hover, .button--scroll:active {
    background: rgba(108,117,125,0.5);
    border: transparent; 
    color: #212529;
    width: 100vw;
}