body {
    background-color: #212424;
    display: flex;
    flex-direction: column;
}

.index--title {
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
    text-align: center;
    padding:0.5em;
}

.index--image {
    max-width: 50%;
    align-self: center;
    margin:16px;
}