body {
    background-color: #212424;
    display: flex;
    flex-direction: column;
}

.index--title {
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
    align-self: center;
}

.index--image {
    max-width: 50%;
    align-self: center;
    margin:16px;
}

.index--launch {
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    justify-content: center;
    align-self: center;
}